<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
    <connectionStrings>
        <add name="ConnectionString" connectionString="Data Source=localhost;User ID= Portafolio;Password=123;Unicode=True"
            providerName="System.Data.OracleClient" />
        <add name="ConnectionString2" connectionString="Data Source=localhost;User ID=portafolio;Password=123;Unicode=True"
            providerName="System.Data.OracleClient" />
        <add name="ConnectionString3" connectionString="Data Source=localhost;User ID=portafolio;Password=123;Unicode=True"
            providerName="System.Data.OracleClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <appSettings>
    <add key="Ruta" value="Data Source = XE; User ID=  PORTAFOLIO; Password= 123" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="none" />
  </appSettings>

</configuration>
